/* style.css */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffe6f0;
    color: #4d004d;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff99cc;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
    text-align: center;
}

footer {
    background-color: #ffb3d9;
    padding: 15px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
